body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
}

h1 {
    background: #263238;
    color: white;
    padding: 15px;
}

.menu{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.menu button {
    padding: 10px;
    margin: 5px;
    background: #1565c0;
    color: white;
    border: none;
    border-radius: 5px;
}

.menu button:hover {
    background: #1976d2;
}

.section {
    display: none;
    background: white;
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input, select {
    padding: 8px;
    margin: 5px;
}

ul {
    list-style: none;
}

li {
    background: #ddd;
    margin: 5px;
    padding: 5px;
}

body{
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    padding: 20px;
}

.section{
    background: white;
    width: 80%;
    margin: auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 8px gray;
}

h2, h3{
    text-align: center;
    color: #2c3e50;
}

input, textarea{
    width: 90%;
    padding: 8px;
    margin: 6px auto;
    display: block;
    border-radius: 4px;
    border: 1px solid #aaa;
}

button{
    padding: 8px 15px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background: #2980b9;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

th, td{
    padding: 8px;
    border: 1px solid #aaa;
    text-align: center;
}

th{
    background: #ecf0f1;
}

#issueMsg{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}